$primary-app-bg-color: #ECF0F5;
$sidebar-bg-color: #272c33;
$topbar-bg-color: #2f343c;
$primary-color-1: #1e252d;
$primary-color-2: #d4821c;
$primary-color-3: #1e3a2d;
$primary-color-4: #141a20;
$primary-color-5: #301846;
$primary-color-6: #45171d;
$primary-color-7: #13242a;
